body {
padding: 0px;
margin: 0px;
background: #F8F8FF;
}
/*--- navigation bar ---*/
.navbar {
background:#8B0000;
padding: 25px;
font-size: 25px;
}
.panier{
margin-left:25px;
margin-top:3px;
}
.nav-link, .navbar-brand {
color: #fff;
cursor: pointer;
}
.nav-link {
margin-left: 1.1em !important;
margin-right: 1.1em;
margin-top: 0.5em !important;
}
.nav-link:hover {
color: #000;
}
.navbar-collapse {
justify
-content: flex-end;
}
.header {
background-image: url('background.jpg');
background-size: cover;
background-position: center;
position: relative;
}
.overlay {
position: absolute;
min-height: 100%;
min-width: 100%;
left: 0px;
top: 0px;
background-color: rgba(0, 0, 0, 0.4);
}
.description {
left: 50%;
position: absolute;
top: 45%;
transform: translate(-50%,-55%);
text-align: center;
}
.description h1 {
color: #6ab446;
}
.description p {
color: #fff;
font-size: 1.3rem;
line-height: 1.5;
}
.description button {
border:1px solid #6ab446;
background-color: #6ab446;
border-radius: 0;
color: #fff;
}
.description button:hover {
border:1px solid #fff;
background-color: #fff;
color: #000;
}
.features {
margin: 4em auto;
padding: 4em;
position: relative;
}
.feature-title {
color: #333;
font-size: 1.3rem;
font-weight: 700;
margin-bottom: 20px;
text-transform: uppercase;
}
.features img {
-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
margin-bottom: 16px;
}
.features .form-control,
.features input {
border-radius: 0;
}
.features .btn {
background-color: #589b37;
border: 1px solid #589b37;
color: #fff;
margin-top: 20px;
}
.features .btn:hover {
background-color: #333;
border: 1px solid #333;
}
.page-footer {
background-color: #555;
color: #ccc;
padding: 20px  10px;
margin-right: -350px;
}
.contact{
	font-size: 12px;
	margin-left: -800px;
}
.copyright{
	font-size:10px;
	text-align: center;
}
.footer-copyright {
color: #666;
padding: 20px 0;
}
div#conteneur {
 width: 470px;
 float: left;
}
    
label {
 margin-left: 3em;
 width: 250px;
 display: block;
 float: left; 
}

    
fieldset {
 color: #e82c66;
    
}

legend {
 color:#2570e8;
 font-weight:bold
 }

input {
 background-color:#ddf6fd;
 border-radius: 5px;    
}
    
input:focus {
 background-color:white;
}
    
    
input[type=submit]:hover {
 background-color:#beedb5;
 }
    
input[type=submit]:active {
 background-color:#33d61e;
 box-shadow:1px 1px 1px #bebebe inset;
}

    
input[type=reset]:hover {
 background-color:#fd7777;
 }
    
input[type=reset]:active {
 background-color:#f51313;
 box-shadow:1px 1px 1px #D83F3D inset;
}

input[type=button]:hover {
 background-color:#beedb5;
 }
    
input[type=button]:active {
 background-color:#33d61e;
 box-shadow:1px 1px 1px #bebebe inset;
}

.bouton{
background-color:#beedb5;
}
